<h1>Add Userr</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">
    <div class="form-group">
        <label for="Username">Username</label>
        @if (ViewBag.error == null)
        {
            <input type="text" name="username" />
        }
        else
        {
            <input type="text" name="username" value="@ViewBag.userName" />
        }
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        @if (ViewBag.error == null)
        {
            <input type="email" name="email" />
        }
        else
        {
            <input type="email" name="email" value="@ViewBag.email" />
        }
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>
    <div class="form-group">
        <label for="verify">Verify Password</label>
        <input name="verify" type="password" />
    </div>
    <input type="submit" value="Add User" />
</form>